.facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.current-fact {
    width: 1000px;
    font-size: 32px;
    background-color: #f5ebe0;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid black;
}

.fact-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: #f5ebe0;
    border-radius: 30px;
    border: 2px solid black;
}

.fact-history > ul {
    list-style: none
}